#copyright {
  font-size: 0.85rem;
}

.hello-page {
  display: flex;
  flex-direction: column;
}

.hello-title {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.hello-title > img {
  height: 8rem;
  width: auto;
  max-width: 60%;
}

.hello-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 65%;
  align-self: center;
}

.hello-body > p {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1.5rem;
}
