.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / 3;
  padding: 0 0.75rem 0 0.75rem;
  color: var(--border);
}

.toolbar p {
  margin: 0;
}

.tool-tips {
  display: flex;
  gap: 5rem;
}

a.link {
  display: flex;
  gap: 0.5rem;
  color: var(--border);
  text-decoration: none;
}

a.link:is(:hover, :focus-visible),
a.link:is(:hover, :focus-visible) * {
  color: var(--blue-hover);
  font-weight: bold;
  font-style: italic;
}
