.tool-tip-character {
  color: var(--purple-active);
  font-weight: bold;
}

.sound-on {
  color: var(--green-active);
  font-weight: bold;
}

.sound-off {
  color: var(--red-active);
  font-weight: bold;
}
