.search {
  color: var(--text-primary);
  font-size: 0.9rem;
  font-family: "JetBrains Mono", ui-monospace, monospace;
  background: none;
  outline: none;
  margin: 0;
  padding: 0.5rem;
}

.search:hover {
  border-color: var(--blue-hover);
}

.search:active,
.search:focus {
  border-color: var(--blue-active);
}
