.container.section-container {
  --section-active: var(--border);
  --section-hover: var(--border);

  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  background-color: transparent;
  text-align: left;
}

.container.section-container:is(:hover, :focus),
.container.section-container:is(:hover, :focus) * {
  color: var(--section-hover);
  border-color: var(--section-hover);
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-style: italic;
}

.container.section-container.active,
.container.section-container.active * {
  color: var(--section-active);
  border-color: var(--section-active);
  font-weight: bold;
  font-style: italic;
}

.container.section-container.orange {
  --section-active: var(--orange-active);
  --section-hover: var(--orange-hover);
}

.container.section-container.pink {
  --section-active: var(--pink-active);
  --section-hover: var(--pink-hover);
}

.container.section-container.purple {
  --section-active: var(--purple-active);
  --section-hover: var(--purple-hover);
}

.container.section-container.blue {
  --section-active: var(--blue-active);
  --section-hover: var(--blue-hover);
}

.container.section-container.green {
  --section-active: var(--green-active);
  --section-hover: var(--green-hover);
}

.container.section-container.yellow {
  --section-active: var(--yellow-active);
  --section-hover: var(--yellow-hover);
}

h2.section-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.page-link {
  text-decoration: none;
}
