.container.section-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  background-color: transparent;
  text-align: left;
}

.container.section-container:hover,
.container.section-container:hover *,
.container.section-container:focus,
.container.section-container:focus * {
  color: var(--border-hover);
  border-color: var(--border-hover);
  cursor: pointer;
  outline: none;
}

.container.section-container.active,
.container.section-container.active * {
  color: var(--border-active);
  border-color: var(--border-active);
}

h2.section-title {
  margin: 0;
  padding: 0;
  color: var(--border-inactive);
  font-weight: 500;
}
