span.tag-btn-wrapper {
  display: inline-flex;
  align-items: center;
}

span.tag.tag-removable {
  border-radius: 0.1rem 0 0 0.1rem;
  padding-right: 0.25rem;
}

button.tag.tag-remove-btn {
  cursor: pointer;
  padding: 0 0.25rem 0 0;
  margin: 0;
  border-radius: 0 0.1rem 0.1rem 0;
}
