@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-SemiBold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-SemiBoldItalic.woff2");
  font-weight: bold;
  font-style: italic;
}

:root {
  --main-bg: #211e2e;
  --text-primary: #8e85a6;
  --border-inactive: #8e85a6;
  --border-inactive-25: rgba(109, 102, 128, 0.25);
  --border-active: #59b2ff;
  --border-hover: #77abd9;
  --accent-1: #b566ff;
  --accent-2: #cdff59;
  --accent-3: #ff5964;

  font-family: "JetBrains Mono", ui-monospace, monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  background-color: var(--main-bg);
}

html {
  padding: 0;
}

.main-content {
  display: grid;
  grid-template-rows: 20fr 1fr;
  grid-template-columns: 2fr 7fr;
  column-gap: 0.75rem;
  padding: 0.75rem;
  height: calc(100vh - 1.5rem);
}

.container {
  color: var(--border-inactive);
  border: 0.2rem solid var(--border-inactive);
  border-radius: 0.2rem;
  padding: 0.75rem;
}

.container-inner {
  margin: -2.5rem 0 0 0;
  height: calc(100% + 2.5rem);
}

.container-title {
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.15rem;
  line-height: 80%;
  display: inline-block;
  padding: 0 0.5rem 0 0.5rem;
  background-color: var(--main-bg);
}

.container-content,
.container-content p {
  padding: 0;
  margin: 0;
}

.centered {
  text-align: center;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  padding: 0;
  background-color: var(--border-inactive-25);
  color: var(--border-inactive);
}

.icon-container.icon-container-lg {
  width: 3rem;
  height: 3rem;
  border-radius: 0.375rem;
}

.icon-container.icon-container-sm {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.2rem;
}
