@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-BoldItalic.woff2");
  font-weight: bold;
  font-style: italic;
}

:root {
  --main-bg: #211e2e;
  --text-primary: #988fb3;
  --border: #988fb3;
  --border-25: rgba(109, 102, 128, 0.25);

  --orange-active: #ff9059;
  --orange-hover: #d99877;

  --red-active: #ff6459;
  --red-hover: #d97e77;

  --pink-active: #ff599b;
  --pink-hover: #d9779e;

  --purple-active: #9470ff;
  --purple-hover: #9077d9;

  --blue-active: #59b2ff;
  --blue-hover: #77abd9;

  --teal-active: #59ffd6;
  --teal-hover: #77d9c1;

  --green-active: #d6ff59;
  --green-hover: #c1d977;

  --yellow-active: #ffd359;
  --yellow-hover: #d9bf77;

  font-family: "JetBrains Mono", ui-monospace, monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  background-color: var(--main-bg);
}

html {
  padding: 0;
}

.main-content {
  display: grid;
  grid-template-rows: 20fr 1fr;
  grid-template-columns: 2fr 7fr;
  column-gap: 0.75rem;
  padding: 0.75rem;
  height: calc(100vh - 1.5rem);
}

.border-default {
  border: 0.15rem solid var(--border);
  border-radius: 0.2rem;
}

.container {
  color: var(--border);
  padding: 0.75rem;
}

.centered {
  text-align: center;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  padding: 0;
  background-color: var(--border-25);
  color: var(--border);
}

.icon-container.icon-container-lg {
  width: 3rem;
  height: 3rem;
  border-radius: 0.375rem;
}

.icon-container.icon-container-sm {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.2rem;
}

.italic-sm {
  font-style: italic;
  font-size: 0.9rem;
}

.outline-blue:focus-visible {
  outline: 0.15rem solid var(--blue-active);
  outline-offset: 0.2rem;
  border-radius: 0.1rem;
}
