.link-card {
  display: flex;
  border: 0.15rem solid var(--border);
  border-radius: 0.2rem;
  color: var(--border);
  align-items: flex-start;
  text-align: left;
  gap: 0.75rem;
  padding: 0.75rem;
  text-decoration: none;
  overflow-wrap: anywhere;
}

.link-card:is(:hover, :focus),
.link-card:is(:hover, :focus) * {
  color: #9077d9;
  border-color: #9077d9;
  outline: none;
}

.link-card-text > h3,
.link-card-text > p {
  margin: 0;
}

.link-card-text > h3 {
  font-weight: bold;
}

.link-card:is(:hover, :focus) .link-card-text {
  font-style: italic;
  font-weight: bold;
}
